@model IEnumerable<CentralCoastMusic.Models.Artist>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livestream)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextLivestream)
            </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.ImageUrl" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livestream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextLivestream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                <a href="#" onclick="getDetail('@item.Id')">See Detail</a>
            </td>
        </tr>
}
    </tbody>
</table>
