@model CentralCoastMusic.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Youtube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Youtube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patreon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patreon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paypal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paypal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venmo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venmo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livestream)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livestream)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextLivestream)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextLivestream)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
