@model CentralCoastMusic.Models.Artist

@{
    ViewData["Title"] = "Edit";
}


<link rel="stylesheet" href="~/css/croppie.css" />

<h1>Edit</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="artistEditor" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Youtube" class="control-label"></label>
                <input asp-for="Youtube" class="form-control" />
                <span asp-validation-for="Youtube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patreon" class="control-label"></label>
                <input asp-for="Patreon" class="form-control" />
                <span asp-validation-for="Patreon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation" class="control-label"></label>
                <input asp-for="Donation" class="form-control" />
                <span asp-validation-for="Donation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomUrl" class="control-label"></label>
                <text asp-for="CustomUrl" class="form-control" />
            </div>
            <div class="form-group">
                <div id="imagePreview">
                    <img id="profileImage" src="@Model.ImageUrl" /><div class="btn btn-danger" id="deleteImage">Remove Image</div>
                    <input type="file" accept="image/*" onchange="loadFile(event)">
                    <img id="output" hidden />
                </div>
                <div id="imageUpload">Will have image uploads here</div>
                <div class="btn" onclick="uploadImage()">Upload</div>
            </div>
            <div class="form-group" id="tagContainer" name="tagContainer">
                <input class="form-control" id="tags" placeholder="Enter three genres that describe your music" /><span onclick="addTag()">+</span>
                <div id="tagList" name="tagList"></div>
            </div>
            <div class="form-group" id="livestreamContainer" name="livestreamContainer">
                <div id="livestreamInput">
                    <input class="form-control" id="streamDesc" placeholder="Decribe your stream" maxlength="30" /><input class="form-control" id="streamDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" step="300" /><input class="form-control" id="streamEndDate" type="datetime-local" step="300" value="@DateTime.Now.AddHours(1).ToString("yyyy-MM-ddTHH:mm")" /><input class="form-control" id="streamLink" placeholder="Link to your livestream" /><span onclick="addLivestream()">+</span>
                </div>
                <div id="livestreamList" name="livestreamList"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/croppie.js"></script>
    <script src="~/js/dropzone.min.js"></script>

    <script>
        getTags();
        getStreams();

        var uploadCrop = $('#imageUpload').croppie({
            viewport: {
                width: 200,
                height: 200,
                type: 'square'
            },
            boundary: {
                width: 300,
                height: 300
            }
        });        

        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                 uploadCrop.croppie('bind', {
                     url: output.src
                });
                URL.revokeObjectURL(output.src) // free memory
            }
        };

        function uploadImage() {
            uploadCrop.croppie('result','blob').then(function(blob) {
                var formData = new FormData();
                formData.append('filename', 'profile.png');
                formData.append('blob', blob);
                var MyAppUrlSettings = {
                    MyUsefulUrl: '@Url.Action("UploadImage","Image")'
                }

                var request = new XMLHttpRequest();
                request.open('POST', MyAppUrlSettings.MyUsefulUrl);
                request.send(formData);
            });
        }

        //Need to do this better
        

     

        function getTags() {
            $.ajax({
                type: "GET",
                url: "../../Link/GetTags",
                success: function (data) {
                    $('#tagList').html(data);
                }
            });
        }

        function getStreams() {
            $.ajax({
                type: "GET",
                url: "../../Link/GetStreams",
                success: function (data) {
                    $('#livestreamList').html(data);
                }
            });
        }

        var tagCounter = 0
        function addTag() {
            if ($('#tagList').children('input').length < 3) {
                var tagObj = new Object();
                tagObj.Name = $('#tags').val();
                $.ajax({
                    type: "POST",
                    url: "../../Link/AddTag",
                    contentType: 'application/json',
                    data: JSON.stringify(tagObj),
                    success: function (data) {
                        var dataStr = "'" + data + "'";
                        $('#tagList').append('<input id="' + data + '" value="' + $('#tags').val() + '" onclick="tagRemove(' + dataStr + ')"/>'); $('#tags').val('');
                    }
                });
            } else {
                $('#tags').val('');
                $('#tags').attr('placeholder', 'Please remove a tag to add a new one');
            }
        }

        function addLivestream() {
            var streamObj = new Object();
            streamObj.Name = $('#streamDesc').val();
            streamObj.Description = $('#streamLink').val();
            streamObj.StartTime = $('#streamDate').val();
            streamObj.EndTime = $('#streamEndDate').val();
            $.ajax({
                type: "POST",
                url: "../../Link/AddStream",
                contentType: 'application/json',
                data: JSON.stringify(streamObj),
                success: function (data) {
                    var dataStr = "'" + data + "'";
                    $('#livestreamList').append('<div id="' + data + '" onclick="streamRemove(' + dataStr + ')"><span>-</span>' + $('#streamDesc').val() + ' on ' + $('#streamDate').val() + ' viewable at ' + $('#streamLink').val() + '</div>');
                    $('#livestreamInput').find('input').val('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")');
                }
            });
        }

        function tagRemove(id) {
            $.ajax({
                type: "POST",
                url: "../../Link/RemoveTag/" + id,
                contentType: 'application/json',
                success: function (data) {
                    $('#' + id).remove();
                    $('#tags').attr('placeholder', 'Enter three genres that describe your music');

                }
            });
        }

        function streamRemove(id) {
            $.ajax({
                type: "POST",
                url: "../../Link/RemoveStream/" + id,
                contentType: 'application/json',
                success: function (data) {
                    $('#' + id).remove();
                }
            });
        }

        $('#deleteImage').click(function () {
            $.ajax({
                type: "DELETE",
                url: "../../Image/RemoveImage?type=ProfileImage",
                success: function (data) {
                    $('#profileImage').removeAttr('src');
                }
            });
        });


    </script>
}
